<div class="primary">
  <div class="top-buttons">
    @for (tab of tabs; track tab) {
      <p-button [label]="tab.title"
                [pTooltip]="tab.title"
                [icon]="tab.icon"
                iconPos="top"
                [fluid]="true"
                [text]="tab.tab !== selectedPrimary ? 'secondary' : undefined"
                (onClick)="onClick(tab)" size="small"></p-button>
    }
  </div>
  <div class="bottom-buttons">
    <p-button [icon]="appStateService.appState().darkTheme ? 'pi pi-moon' : 'pi pi-sun'"
              [rounded]="true"
              [text]="appStateService.appState().darkTheme"
              size="large"
              pTooltip="Dark Mode"
              tooltipPosition="bottom"
              [showDelay]="500"
              (onClick)="toggleDarkMode()">
    </p-button>
  </div>
</div>

<div class="secondary">
  <ng-content select="[secondary-content]"></ng-content>

</div>
