<!-- Header -->
<div class="top">
  <app-header></app-header>
</div>

<div class="center">
  <div class="center-canvas">
    <app-canvas></app-canvas>
  </div>
</div>

<div class="left">
  <div class="flex flex-col h-full w-full">
    <div class="flex justify-center p-2 border-b" style="border-color: var(--surface-border); background: var(--surface-ground)">
      <p-selectButton
        [(ngModel)]="leftPanelMode"
        [options]="leftPanelOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false">
        <ng-template let-item>
          <i [class]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="flex-1 overflow-auto">
      @if (leftPanelMode() === 'insert') {
        <app-insert></app-insert>
      } @else {
        <app-layers></app-layers>
      }
    </div>
  </div>
</div>

<div class="right">
  <div class="flex flex-col h-full w-full">
    <div class="flex justify-center p-2 border-b" style="border-color: var(--surface-border); background: var(--surface-ground)">
      <p-selectButton
        [(ngModel)]="rightPanelMode"
        [options]="rightPanelOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false">
        <ng-template let-item>
          <i [class]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="flex-1 overflow-auto">
      @if (rightPanelMode() === 'properties') {
        <app-settings></app-settings>
      } @else {
        <app-inspector></app-inspector>
      }
    </div>
  </div>
</div>
