:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header header'
    'left main right'
    'left bottom right';
  grid-template-columns: minmax(300px, 1fr) 3fr minmax(340px, 1.8fr);
  grid-template-rows: auto 1fr auto;
  overflow: clip;
  background-color: var(--bg-primary);

  .top {
    grid-area: header;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .center {
    grid-area: main;
    min-width: 0;
    min-height: 0;
  }

  .bottom {
    grid-area: bottom;
  }
}
