:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-areas:
    "header header header"
    "left main right";
  grid-template-columns: minmax(300px, 1fr) 4fr minmax(300px, 1fr);
  grid-template-rows: auto 1fr;
  overflow: clip;
  background-color: var(--bg-primary);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);

  .top {
    grid-area: header;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .center {
    grid-area: main;
  }
}

