<!-- Header -->
<div class="top border-b border-b-surface-200">
  <app-header></app-header>
</div>

<!-- Main Canvas -->
<div class="center flex flex-col overflow-clip">
  <div class="flex flex-col flex-1 overflow-clip">
    <app-canvas></app-canvas>
  </div>
</div>

<!-- Left and Right Panels -->
<div class="left border-r border-r-surface-200 overflow-auto flex max-[340px]">
  <div class="flex flex-col h-full w-full">
    <div class="flex justify-center p-2 border-b border-b-surface-200">
      <p-selectButton
        [(ngModel)]="leftPanelMode"
        [options]="leftPanelOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false">
        <ng-template let-item>
          <i [class]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="flex-1 overflow-auto">
      @if (leftPanelMode() === 'assets') {
        <app-insert></app-insert>
      } @else {
        <app-layers></app-layers>
      }
    </div>
  </div>
</div>

<div class="right border-l border-l-surface-200 overflow-auto max-[340px]">
  <div class="flex flex-col h-full w-full">
    <div class="flex justify-center p-2 border-b border-b-surface-200">
      <p-selectButton
        [(ngModel)]="rightPanelMode"
        [options]="rightPanelOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false">
        <ng-template let-item>
          <i [class]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="flex-1 overflow-auto">
      @if (rightPanelMode() === 'properties') {
        <app-settings></app-settings>
      } @else {
        <app-inspector></app-inspector>
      }
    </div>
  </div>
</div>
