@switch (item?.itemType) {
  @case (FrameType.FLEX) {
    @for (childItem of item?.children; track childItem.key) {
      @switch (childItem.itemType) {
        @case (FrameType.FLEX) {
          <app-container [item]="childItem"
                         [nxtSortablejs]="childItem.children"
                         [config]="dragOptions"
                         (clicked)="onChildFrameClick($event)"
                         (mouseOver)="onChildMouseOver($event)"
                         (mouseOut)="onChildMouseOut($event)"
                         (contextMenu)="onChildContextMenu($event)"
                         [selectedFrameKey]="selectedFrameKey"
                         [id]="childItem.key!"
                         (childTextContentChanged)="onChildTextContentChanged($event)">
            </app-container>
        }
        @case (FrameType.TEXT) {
          <app-text appEditableContent
                    [item]="childItem"
                    [nxtSortablejs]="childItem.children"
                    [id]="childItem.key!"
                    (clicked)="onChildFrameClick($event)"
                    (mouseOver)="onChildMouseOver($event)"
                    (mouseOut)="onChildMouseOut($event)"
                    (contextMenu)="onChildContextMenu($event)"
                    (contentChanged)="onChildTextContentChanged($event)">
          </app-text>
        }
      }
    }
  }
  @case (FrameType.TEXT) {
    <app-text></app-text>
  }
}
