@use '../../../../node_modules/primeflex/primeflex.css';
:host {
  display: block;
  min-width: 250px;
}

.scale {
  display: flex;
  gap: 2px;
  align-items: center;
  border: 1px solid var(--surface-border);
  padding: 5px 10px;
  border-radius: 30px;

  .scale-items {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--surface-200);
    @extend .text-sm;

    .selected {
      @extend .text-lg;
      @extend .text-primary;
    }
  }
}

section {
  border-bottom: 1px solid var(--surface-border);
  padding: 20px 0;

  &.property {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .property-name {
    @extend .text-xl;
    @extend .font-semibold;
  }
}

