<app-skeleton>
  <ng-container center-content>
    <app-properties-flex-container [css]="sourceItem?.css"
                                   [filterCssProperties]="[JustifyContent]"
                                   [selectControlsLayout]="'selectButton'"
                                   [title]="'Flex container'"></app-properties-flex-container>
    <app-canvas></app-canvas>
  </ng-container>

  <ng-container left-content>

  </ng-container>

  <ng-container right-content>

  </ng-container>

</app-skeleton>
