@switch (frame?.frameType) {
  @case (FrameType.FLEX) {
    <div #frameContent class="frame-name">{{ frame?.name }}</div>

    <app-flex-container [settings]="frame?.flexLayoutSettings"
                        contenteditable="false">
      @for (childFrame of frame?.children; track childFrame) {
        <app-flex-item [frame]="childFrame">
          <app-frame [frame]="childFrame"
                     tabindex=-1
                     (clicked)="onChildClicked($event)"
                     [selectedFrameKey]="selectedFrameKey"
                     (frameContentChanged)="onChildFrameContentChanged($event)"></app-frame>
        </app-flex-item>
      }
    </app-flex-container>

  }
  @case (FrameType.GRID) {
  }
}
