:host {
  padding: 30px;
  overflow: clip;
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle, var(--bg-primary) 0.8px, var(--bg-tertiary) 0.8px);
  background-size: 24px 24px;

  &.pan-mode-active {
    cursor: grab;

    &.is-panning {
      cursor: grabbing;
    }
  }

  .pan-zoom-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
  }

  > app-container {
    background: #eeeeee;
  }

  app-css-prism {
    position: absolute;
    right: 180px;
    width: 260px;
  }
}
