:host {
  display: flex;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.wrapper {
  margin: 0 25px 25px 0;
  display: flex;
}

.items-list {
  border-radius: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.item-wrapper {
  overflow: hidden;

  .item {
    padding: 8px;
    background: var(--surface-100);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: all .25s ease;
    }

    .item-name {
      margin-bottom: 6px;
    }
  }
}

:host ::ng-deep {
  app-preset-container {
    border: 1px solid #ed9534;
    background: white;
    border-radius: 3px;
  }

  app-preset-text {
    display: block;
    padding: 2px;
    background-color: #FDF6EAFF;

    border: 1px solid #fec300;
  }
}


//.flex-container {
//  display: block;
//
//  background-color: #9161a7;
//  border: 1px solid #ed9534;
//  padding: 5px;
//}
