:host {
  display: flex;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.wrapper {
  margin: 0 25px 25px 0;
  display: flex;
}

.items-list {
  background: white;
  border-radius: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.item-wrapper {
  overflow: hidden;

  .item {
    padding: 8px;
    background: #f3f3f3;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: all .25s ease;
    }
  }
}

:host ::ng-deep {
  app-preset-container {
    border: 1px solid green;
    border-radius: 5px;
  }

  app-preset-text {
    display: block;
    padding: 2px;
    background-color: #ed9534;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: inset 3px 3px 7px 5px #f2ad62;
  }
}


//.flex-container {
//  display: block;
//
//  background-color: #9161a7;
//  border: 1px solid #ed9534;
//  padding: 5px;
//}
