@switch (preset?.itemType) {
  @case (FrameType.FLEX) {
    <div class="flex-container">
      <div [style]="preset | cssStyleSerializer">
        @for (childFrame of preset?.children; track childFrame) {
          @switch (childFrame.itemType) {
            @case (FrameType.FLEX) {
              <app-preset [preset]="childFrame"></app-preset>
            }
            @case (FrameType.TEXT) {
              <div class="text">{{childFrame.label}}</div>
            }
          }
        }
      </div>
    </div>
  }
  @case (FrameType.TEXT) {
    <div class="text">{{preset?.label}}</div>
  }
}
