@switch (preset?.frameType) {
  @case (FrameType.FLEX) {
      <div [style]="preset | cssStyleSerializer">
        @for (childFrame of preset?.children; track childFrame) {
          @switch (childFrame.frameType) {
            @case (FrameType.FLEX) {
              <app-preset [preset]="childFrame"></app-preset>
            }
            @case (FrameType.TEXT) {
              <div>{{childFrame.name}}</div>
            }
          }
        }
      </div>
  }
  @case (FrameType.TEXT) {
    <div>{{preset?.name}}</div>
  }
}
