<div class="title">
  Framer Doppelganger
</div>

<div class="action-buttons-container">
  <p-toggleButton class="action-button" [(ngModel)]="appSettingsStore.previewActive" onIcon="pi pi-play" offIcon="pi pi-play"></p-toggleButton>

  <button type="button"
          class="action-button p-button"
          (click)="showConfig()">
    <i class="pi pi-palette"></i>
  </button>

  <button type="button"
          class="action-button p-button"
          pTooltip="'Save to local storage'"
          tooltipPosition="left" placeholder="Bottom"
          (click)="save()">
    <i class="pi pi-save"></i>
  </button>
</div>

<app-theme-options></app-theme-options>
