<div class="title">
  Framer Doppelganger
</div>

<div class="content-switcher">
  @for (tab of tabs; track tab.id) {
    <p-button [label]="tab.label"
              [text]="tab.id !== selectedTabId ? 'secondary' : undefined"
              (onClick)="setSelectedTab(tab.id)" size="small"></p-button>
  }
</div>

<div class="action-buttons-container">
  <p-button class="action-button"
            (onClick)="op.toggle($event)"
            [outlined]="true"
            pTooltip="'Customize theme'"
            tooltipPosition="bottom"
            icon="pi pi-palette">
    <p-overlayPanel #op>
      <app-theme-options></app-theme-options>
    </p-overlayPanel>
  </p-button>

  <p-splitButton label="Save"
                 (onClick)="save()"
                 appendTo="body"
                 [model]="items"
                 [menuStyle]="{'min-width': '200px'}"></p-splitButton>
</div>

