<div class="title">
  Framer Doppelganger
</div>

<div class="action-buttons-container">
  <p-toggleButton class="action-button"
                  [(ngModel)]="appSettingsStore.previewActive"
                  onIcon="pi pi-play"
                  offIcon="pi pi-play"
                  pTooltip="'Preview'"
                  tooltipPosition="bottom"></p-toggleButton>

  <p-button class="action-button"
            [outlined]="true"
            (click)="showConfig()"
            pTooltip="'Customize theme'"
            tooltipPosition="bottom"
            icon="pi pi-palette">
  </p-button>

  <p-splitButton label="Save"
                 (onClick)="save()"
                 appendTo="body"
                 [model]="items"
                 [menuStyle]="{'min-width': '200px'}"></p-splitButton>
</div>

<app-theme-options></app-theme-options>
