:host {
  display: flex;
  padding: 20px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--surface-200);

  .title {
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
  }

  .content-switcher {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
  }

  .action-buttons-container {
    flex-grow: 1;
    margin-left: auto;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: end;
    display: flex;

    .action-button {
      align-items: center;
      justify-content: center;

      &:last-of-type{
        margin-right: 10px;
      }
    }
  }
}
