<div class="flex flex-1 overflow-hidden gap-px bg-surface-200">
  <div class="inspector-column">
    <h4 class="title">CSS</h4>
    <app-css-prism class="prism" [canvasItems]="canvasItem()"></app-css-prism>
  </div>
  <div class="inspector-column">
    <h4 class="title">HTML</h4>
    <app-html-prism
      class="prism"
      [canvasItems]="canvasItem()"
      [showDownload]="false"
    ></app-html-prism>
  </div>
  <div class="inspector-column">
    <h4 class="title">JSON</h4>
    <app-json-prism class="prism" [canvasItems]="canvasItem()"></app-json-prism>
  </div>
</div>
