<app-skeleton>
  <ng-container center-content>
    <div class="content">
      <app-alignment [sourceItem]="sourceItem"></app-alignment>

      <app-canvas [settings]="canvasSettings"></app-canvas>
    </div>

  </ng-container>

  <ng-container left-content>
    <app-side-bar [tabs]="tabs"
                  (selectedItemChange)="onSideBarPrimaryChange($event)">
      <ng-container secondary-content>
        @switch (selectedSideBarPrimary) {
          @case (SideBarPrimary.FLEX) {
            @for (tab of secondaryTabs; track tab) {
              <p-button [label]="tab.title"
                        [pTooltip]="tab.title"
                        size="large"
                        [fluid]="true"
                        [variant]="'outlined'"
                        [text]="tab.tab !== selectedSidebarSecondary ? 'secondary' : undefined"
                        (onClick)="selectedSidebarSecondary = tab.tab" size="small"></p-button>
            }
          }
        }

      </ng-container>
    </app-side-bar>
  </ng-container>

  <ng-container right-content>
    <app-css-prism [canvasItems]="this.sourceItem ? [this.sourceItem] : []"></app-css-prism>
  </ng-container>

</app-skeleton>
