/*
we draw the add-items component and the structure tree in the same grid area, and we use visibility to hide or show one or the other.
we cannot use *ngIf because drag&drop will not work if the component is not in the DOM
*/
:host {
  display: grid;
  grid-template-areas:
    'toolbar-area'
    'inner-area';
  align-items: stretch;

  .insert-items-toggle {
    grid-area: toolbar-area;
  }

  app-insert, #structure-tree-drop-wrapper {
    grid-area: inner-area;
    align-self: start;
  }
}

:host ::ng-deep {
  .insert-items-toggle {
    margin: 12px 8px 0;

    .p-button {
      border: none;
    }

    .p-button:focus {
      box-shadow: none;
    }
  }
}
