<p-toggleButton onLabel="Insert new item"
                offLabel="Insert new item"
                onIcon="pi pi-plus"
                offIcon="pi pi-plus"
                class="insert-items-toggle"
                [(ngModel)]="isInsertPanelActive">
</p-toggleButton>

<app-insert [style.visibility]="isInsertPanelActive? 'visible' : 'hidden'"
              (dragStarted)="onDragNewElementStarted()">
</app-insert>

<div id="structure-tree-drop-wrapper"
     [style.visibility]="!isInsertPanelActive || insertModeDragging? 'visible' : 'hidden'"
     cdkDropList
     cdkDropListSortingDisabled="true"
     (cdkDropListDropped)="onAddNewItemDrop($event)">
    <app-structure-tree></app-structure-tree>
</div>
