<ng-container *ngIf="frame">
  <div class="properties">
    <div class="form-group">
      <p-inputGroup>
        <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" />
        <button type="button"
                pButton
                icon="pi pi-times"
                class="p-button-secondary"
                [disabled]="searchText === ''"
                (click)="searchText = ''"></button>
        </p-inputGroup>
    </div>

    <p-panel header="CSS" [toggleable]="true" [collapsed]="true" toggler="header">
      <app-css-prism [canvasItems]="frame ? [frame] : this.canvasStore.canvasItems"></app-css-prism>
    </p-panel>

    <app-properties-box-sizing [css]="frame.css"
                               [title]="'Box sizing'"
                               [searchText]="searchText"></app-properties-box-sizing>

    <app-properties-display [css]="frame.css"
                            [title]="'Display'"
                            [searchText]="searchText"></app-properties-display>

    @switch (frame.itemType) {
      @case (FrameType.FLEX) {
        <app-properties-flex-container [css]="frame.css"
                                       [title]="'Flex container'"
                                       [searchText]="searchText"></app-properties-flex-container>
      }
    }

    <app-properties-flex-item [css]="frame.css"
                              [title]="'Flex item'"
                              [searchText]="searchText"></app-properties-flex-item>
  </div>
</ng-container>
