:host {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}

.properties {
  flex-basis: 0;
  flex-grow: 1;
  display: grid;
  gap: 10px;
  align-self: start;
}

.selected-properties {
  flex-basis: 0;
  flex-grow: 1;
}

app-css-prism {
  display: block;
  height: 200px;
  overflow: auto;
  margin-bottom: 20px;
  background-color: #f4f2f3;
}

:host ::ng-deep {
  .p-selectbutton {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .p-inputnumber {
    flex-grow: 1;
  }

  .p-inputwrapper {
    width: 100%;
  }
}

// hide the panel if it has no content
::ng-deep p-panel:has(.p-panel-content:empty) {
  display: none;
}
