:host {
  display: block;
  flex-grow: 1;
  padding: 10px;
}

.properties {
  display: grid;
  grid-template-columns: min-content 1fr;
  flex-direction: row;
  gap: 10px;
  align-self: start;

  ::ng-deep.title {
    font-size: 14px;
    font-weight: 500;
    grid-column-start:span 2;
  }
}

app-css-prism {
  display: block;
  height: 200px;
  overflow: auto;
  margin-bottom: 20px;
  background-color: #f4f2f3;
}

:host ::ng-deep {
  .p-selectbutton {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .p-inputnumber {
    flex-grow: 1;
  }

  .p-inputwrapper {
    width: 100%;
  }
}
