<ng-container *ngIf="frame">
  <app-css-prism [canvasItems]="frame ? [frame] : this.canvasStore.frames"></app-css-prism>

  <div class="properties">
    <app-properties-box-sizing [css]="frame?.css"></app-properties-box-sizing>
    <app-properties-display [css]="frame?.css"></app-properties-display>

    @switch (frame?.itemType) {
      @case (FrameType.FLEX) {
        <app-properties-flex-container [css]="frame?.css"></app-properties-flex-container>
      }
      @case (FrameType.TEXT) {

      }
    }

    <app-properties-flex-item [css]="frame?.css"></app-properties-flex-item>
  </div>
</ng-container>
