:host {
  flex-grow: 1;

  .wrapper {
    display: grid;
    grid-template-areas: 'inner-area';
    align-items: stretch;

    app-insert, #structure-tree-drop-wrapper {
      grid-area: inner-area;
      align-self: start;
    }
  }
}

:host ::ng-deep {
  .p-tree {
    font-size: 10px;
    border: none;
    padding: 8px;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 2px;
  }
}

