:host {
  flex-grow: 1;

  .wrapper {
    display: grid;
    grid-template-areas: 'inner-area';
    align-items: stretch;

    app-insert, #structure-tree-drop-wrapper {
      grid-area: inner-area;
      align-self: start;
    }
  }
}

:host ::ng-deep {
  .p-tree {
    border: none;
    padding: 8px;
  }

  //.p-treenode-selectable.p-highlight {
  //  color: white;
  //  background: #3a9afe;
  //
  //  /* if it has a sibling change the border radius */
  //  &:has(+.p-treenode-children) {
  //    border-radius: 8px 8px 0 0;
  //  }
  //
  //  /* sibling styles */
  //  &+ .p-treenode-children {
  //    background: #EFF6FF;
  //    border-radius: 0 0 8px 8px;
  //  }
  //}
}

