<div class="title">
  <img src="../../../assets/logo.svg" alt="boXout logo">
  <div>boXout</div>
</div>

<div class="content-switcher">
  <p-menubar [model]="tabs" [dt]="scopedTokens">
    @for (tab of tabs; track tab.id) {
      <ng-template  #item let-item>
          <a [routerLink]="item.routerLink" class="p-menubar-item-link" routerLinkActive="p-button">
            <span>{{ item.label }}</span>
          </a>
      </ng-template>
    }
  </p-menubar>
</div>

<div class="action-buttons-container">
  <p-button class="action-button"
            [text]="true"
            [link]="true"
            (onClick)="themeConfiguratorPopover.toggle($event);"
            pTooltip="Customize Theme"
            tooltipPosition="bottom"
            icon="pi pi-palette">
  </p-button>
  <p-popover #themeConfiguratorPopover>
    <app-theme-configurator />
  </p-popover>

  <p-button class="action-button github-button"
            [text]="true"
            [link]="true"
            (onClick)="window.open('https://github.com/Woriworiwa/layout', '_blank');"
            pTooltip="View code on Github"
            tooltipPosition="bottom"
            icon="pi pi-github">
  </p-button>

  <p-splitbutton label="Save"
                 (onClick)="save()"
                 appendTo="body"
                 [model]="items"
                 [menuStyle]="{'min-width': '200px'}"></p-splitbutton>
</div>

