<p-card header="Alignment">
  <p>In Flexbox, <strong>alignment</strong> and <strong>justification</strong> control how items are positioned
    within a flex container.</p>

  <app-properties-flex-container [css]="sourceItem?.css"
                                 [filterCssProperties]="[FlexDirection]">
  </app-properties-flex-container>

  <h2>Justification (Main Axis)</h2>
  <p>Controlled by <code>justify-content</code>. Aligns items along the <strong>main axis</strong> (horizontal by
    default).</p>
  <app-properties-flex-container [css]="sourceItem?.css"
                                 [filterCssProperties]="[JustifyContent]">
  </app-properties-flex-container>

  <h2>Alignment (Cross Axis)</h2>
  <p>Controlled by <code>align-items</code> (single row) or <code>align-content</code> (multiple rows). Aligns
    items along the <strong>cross axis</strong> (vertical by default).</p>
  <app-properties-flex-container [css]="sourceItem?.css"
                                 [filterCssProperties]="[AlignItems]">
  </app-properties-flex-container>
</p-card>
