<app-custom-tree
  class="w-full h-full"
  [items]="items"
  [selectedKey]="selectedItemKey"
  (itemSelected)="onItemSelected($event)"
  (itemContextMenu)="onItemContextMenu($event)">
</app-custom-tree>

<p-contextMenu #contextMenu [model]="contextMenuItems"></p-contextMenu>

<p-popover #renameItem>
  <input #nameInput
         pInputText
         autofocus
         (keydown.enter)="renameNode(selectedItem?.key!, nameInput.value)"
         onfocus="this.select()"
         [value]="selectedItem?.label || selectedItem?.itemType"/>

  <div class="rename-button-container">
    <p-button type="button" label="Cancel" [text]="true" (click)="renameItem.hide()"></p-button>
    <p-button type="submit" label="Rename" (click)="renameNode(selectedItem?.key!, nameInput.value)"></p-button>
  </div>
</p-popover>
