<p-tree class="w-full"
        [dt]="themeOverrides"
        [value]="treeNodes"
        ngDefaultControl
        [contextMenu]="contextMenu"
        [(selection)]="selectedItems"
        selectionMode="single"
        (selectionChange)="onTreeSelectionChanged($event)"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
        (onNodeContextMenuSelect)="onNodeContextMenu($event)"
        (onNodeExpand)="onNodeExpand($event)"
        (onNodeDrop)="onNodeDrop()">
</p-tree>

<p-contextMenu #contextMenu [model]="contextMenuItems"></p-contextMenu>

<p-popover #renameItem>
  <input #nameInput
         pInputText
         autofocus
         (keydown.enter)="renameNode(selectedItems?.key!, nameInput.value)"
         onfocus="this.select()"
         [value]="selectedItems?.label || selectedItems?.itemType"/>

  <div class="rename-button-container">
    <p-button type="button" label="Cancel" [text]="true" (click)="renameItem.hide()"></p-button>
    <p-button type="submit" label="Rename" (click)="renameNode(selectedItems?.key!, nameInput.value)"></p-button>
  </div>
</p-popover>
