
    @switch (selectedSideBarPrimary) {
      @case ('browser') {
        <div class="iframe-container">
          <div class="resize-handle left" appResizable>
            <i class="pi pi-ellipsis-v"></i>
          </div>

          <iframe [srcdoc]="code | unsafeHtml"
          [ngStyle]="{ 'width': width}"></iframe>

          <div class="resize-handle right" appResizable></div>
        </div>
      }
      @case ('code') {
        @switch (selectedSidebarSecondary) {
          @case ('HTML') {
            <app-html-prism></app-html-prism>
          }
          @case ('CSS') {
            <app-css-prism [canvasItems]="canvasService.items"></app-css-prism>
          }
          @case ('JSON') {
            <app-json-prism></app-json-prism>
          }
        }
      }
    }

