<!-- Header -->
<div class="top border-b border-b-surface-200">
  <app-header></app-header>
</div>

<!-- Main Canvas -->
<div class="center flex flex-col overflow-clip">
  <div class="flex flex-col flex-1 overflow-clip relative">
    <app-canvas></app-canvas>
    @if (guideService.showGuide()) {
      <app-landing-guide (getStarted)="onGetStarted()"></app-landing-guide>
    }
  </div>
</div>

<!-- Left Panel -->
<div class="left border-r border-r-surface-200 overflow-auto flex max-[340px]">
  <div class="flex flex-col h-full w-full">
    <app-tab-switcher [options]="layoutStateService.leftPanelOptions" [(value)]="layoutStateService.leftPanelMode" />
    <div class="flex-1 overflow-auto">
      @if (layoutStateService.leftPanelMode() === 'assets') {
        <app-presets-panel></app-presets-panel>
      } @else {
        <app-layers-panel></app-layers-panel>
      }
    </div>
  </div>
</div>

<!-- Right Panel -->
<div class="right border-l border-l-surface-200 max-[340px] flex flex-col">
  <app-tab-switcher [options]="layoutStateService.rightPanelOptions" [(value)]="layoutStateService.rightPanelMode" />
  <div class="flex flex-1 overflow-auto w-full">
    @if (layoutStateService.rightPanelMode() === 'inspector') {
      <app-inspector class="w-full"></app-inspector>
    } @else {
      <app-properties-panel></app-properties-panel>
    }
  </div>
</div>

<!-- Theme Toolbar -->
<div class="bottom">
  <app-theme-toolbar></app-theme-toolbar>
</div>

<router-outlet></router-outlet>
