
  <div class="header">
    <app-header></app-header>
  </div>

  <p-splitter styleClass="splitter-content"
              [style]="{ height: '100%' }"
              [panelSizes]="[20, 55, 25]"
              [minSizes]="[20, 10, 20]">

    <ng-template pTemplate><app-structure-tree></app-structure-tree></ng-template>

    <ng-template pTemplate><app-canvas></app-canvas></ng-template>

    <ng-template pTemplate><app-settings></app-settings></ng-template>

  </p-splitter>

  <router-outlet />





