:host {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-template-areas:
    "header header header"
    "left main right";
  grid-template-columns: 340px 4fr 340px;
  grid-template-rows: auto 1fr;
  overflow: clip;
  background-color: var(--bg-primary);
  gap: 10px;

  app-header {
    grid-area: header;
  }

  app-left-navigation {
    overflow: auto;
    grid-area: left;
    display: flex;
    flex-direction: column;
  }

  app-settings {
    overflow: auto;
    grid-area: right;
  }

  app-side-bar {
    min-height: min-content;
  }

  .center {
    overflow: auto;
    //background-color: var(--surface-100);
    grid-area: main;
    display: flex;
    flex-direction: column;

    .center-canvas {
      overflow: clip;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      border-radius: 1.5rem;
    }
  }
}

// loading indicator
.loader-wrapper {
  grid-area: main;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;

  .loader {
    color: green;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 28px;
    opacity: 0.8;
    z-index: 2;
  }
  .loader:before {
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  .branding{
    display: flex;
    flex-direction: column;


    .branding-name {
      font-size: 28px;
      align-self:center;
      color: white;
    }
  }


}




