<div class="header">
  <app-header></app-header>
</div>

<p-splitter styleClass="splitter-content"
            [style]="{ height: '100%' }"
            [panelSizes]="[15, 55, 25]"
            [minSizes]="[15, 10, 20]">

  <ng-template pTemplate>
    <div class="template-content">
      <app-structure-tree></app-structure-tree>
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="template-content">
      <p-tabView>
        <p-tabPanel header="Canvas">
          <app-canvas></app-canvas>
        </p-tabPanel>

        <p-tabPanel header="HTML">
          <ng-template pTemplate="content">
            <app-css-prism mode="HTML" [canvasItems]="canvasStore.frames"></app-css-prism>
          </ng-template>
        </p-tabPanel>

        <p-tabPanel header="JSON">
            <app-json-prism></app-json-prism>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="template-content">
      <app-settings></app-settings>
    </div>
  </ng-template>

</p-splitter>

<router-outlet/>





