:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p-splitter {
  flex-grow: 1;

  .splitter-content {
    display: flex;
    flex-grow: 1;
  }
}

app-canvas {
  flex-grow: 1;
  overflow: auto
}
