<div #wrapper
     class="pan-zoom-wrapper"
     [id]="CANVAS_WRAPPER_ID">
  <!-- Render each root item -->
  @for (item of rootItems; track item.key) {
    <app-container [item]="item"
                   [appAssetDrop]="item"
                   [id]="item.key!"
                   (clicked)="selectElement($event)"
                   (mouseOver)="hoverElement($event)"
                   (mouseOut)="clearHover()"
                   (contextMenu)="onContextMenu($event)"
                   (childTextContentChanged)="onChildTextContentChanged($event)"></app-container>
  }

  <!-- selection and meta layers -->
  <app-selection-layer [canvasElement]="wrapperElementRef" [allowAdd]="settings.allowAdd"></app-selection-layer>
  <app-meta-layer [canvasElement]="wrapperElementRef"></app-meta-layer>
</div>

<!-- toolbar -->
@if(settings.showToolbar) {
  <app-canvas-toolbar></app-canvas-toolbar>
}

