:host {
  display: flex;
  justify-content: start;
  position: relative;
  z-index: 2;
}

:host ::ng-deep {
  app-preset-container {
    border: 1px solid var(--border-primary);
    background: var(--bg-secondary);
    border-radius: 3px;
  }

  app-preset-text {
    display: block;
    padding: 2px;
    border: 1px solid var(--border-primary);
  }
}
