@switch (item?.itemType) {
  @case (FrameType.FLEX) {
    @for (childItem of item?.children; track childItem) {
      @switch (childItem.itemType) {
        @case (FrameType.FLEX) {
          <app-frame [item]="childItem"
                     (clicked)="onChildFrameClick($event)"
                     (mouseOver)="onChildMouseOver($event)"
                     (mouseOut)="onChildMouseOut($event)"
                     (contextMenu)="onChildContextMenu($event)"
                     [selectedFrameKey]="selectedFrameKey"
                     [id]="childItem.key!"
                     (childTextContentChanged)="onChildTextContentChanged($event)"
                     (copyItem)="oncChildCopy($event)"
                     (pasteItem)="onChildPaste($event)"
                     cdkDrag
                     [cdkDragDisabled]="(panZoomService.state$|async)?.panModeActive"
                     (cdkDropListDropped)="onDrop($event)"
                     [cdkDropListData]="item?.key"
                     [cdkDropListOrientation]="item?.css?.flexContainer?.flexDirection === 'column' ? 'vertical' : 'horizontal'"
                     cdkDropList></app-frame>
        }
        @case (FrameType.TEXT) {
          <app-text app-editable-content
                    [item]="childItem"
                    [id]="childItem.key!"
                    (copyItem)="oncChildCopy($event)"
                    (pasteItem)="onChildPaste($event)"
                    (clicked)="onChildFrameClick($event)"
                    (mouseOver)="onChildMouseOver($event)"
                    (mouseOut)="onChildMouseOut($event)"
                    (contextMenu)="onChildContextMenu($event)"
                    (contentChanged)="onChildTextContentChanged($event)"
                    cdkDrag
                    [cdkDragDisabled]="(panZoomService.state$|async)?.panModeActive">
          </app-text>
        }
      }
    }
  }
  @case (FrameType.TEXT) {
    <app-text></app-text>
  }
}
