@switch (item?.frameType) {
  @case (FrameType.FLEX) {
<!--    <div [style]="item | cssStyleSerializer"-->
<!--         (cdkDropListDropped)="onDrop($event)"-->
<!--         [cdkDropListData]="item?.key"-->
<!--         [cdkDropListOrientation]="item?.css?.flex?.flexDirection === 'column' ? 'vertical' : 'horizontal'"-->
<!--         cdkDropList>-->
      @for (childFrame of item?.children; track childFrame) {
        @switch (childFrame.frameType) {
          @case (FrameType.FLEX) {
            <app-canvas-item [item]="childFrame"
                             [selectedFrameKey]="selectedFrameKey"
                             cdkDrag
                             [cdkDragDisabled]="dragDropDisabled"
                             (clicked)="onClick($event)">
              <app-frame [item]="childFrame"
                         (clicked)="onClick($event)"
                         [selectedFrameKey]="selectedFrameKey"
                         [id]="childFrame.key!"
                         (childTextContentChanged)="onChildTextContentChanged($event)"></app-frame>
            </app-canvas-item>
          }
          @case (FrameType.TEXT) {
            <app-canvas-item [item]="childFrame"
                             [selectedFrameKey]="selectedFrameKey"
                             (clicked)="onClick($event)">
              <app-text app-editable-content
                        [item]="childFrame"
                        (contentChanged)="onChildTextContentChanged($event)"
                        cdkDrag
                        [cdkDragDisabled]="true">
                {{ childFrame.name }}
              </app-text>
            </app-canvas-item>
          }
        }
      }
<!--    </div>-->
  }
  @case (FrameType.TEXT) {
    <app-text></app-text>
  }
}
