<div class="selection-wrapper">
  @switch (frame?.frameType) {
    @case (FrameType.FLEX) {
      <div app-display-flex
           [model]="frame?.flexLayoutSettings">
        @for (childFrame of frame?.children; track childFrame) {
          @switch (childFrame.frameType) {
            @case (FrameType.FLEX) {
              <app-frame [frame]="childFrame"
                         (clicked)="onChildClicked($event)"
                         [selectedFrameKey]="selectedFrameKey"
                         [id]="childFrame.key!"
                         cdkDrag
                         cdkDropList
                         [cdkDragDisabled]="dragDropDisabled"
                         (cdkDropListDropped)="onDrop($event)"
                         (frameContentChanged)="onChildFrameContentChanged($event)"></app-frame>
            }
            @case (FrameType.TEXT) {
              <app-text app-editable-content cdkDrag>{{ childFrame.name }}</app-text>
            }
          }
        }
      </div>
    }
    @case (FrameType.TEXT) {
      <app-text></app-text>
    }
  }
  <div class="add-item">
    <p-button icon="pi pi-plus" [rounded]="true" (click)="op.toggle($event)"></p-button>
  </div>

  <p-overlayPanel #op>
    <ng-template pTemplate="content">
      <app-insert [parentFrameId]="frame?.key" (componentAdded)="op.toggle($event)"></app-insert>
    </ng-template>
  </p-overlayPanel>
</div>
