$shadow-color: #99CAFF;

$highlight-shadow-width: 5px;
$highlight-shadow-width-negative: -5px;
$highlight-top: inset 0 $highlight-shadow-width 0 0 $shadow-color;
$highlight-right: inset $highlight-shadow-width-negative 0 0 0 $shadow-color;
$highlight-bottom: inset 0 $highlight-shadow-width-negative 0 0 $shadow-color;
$highlight-left: inset $highlight-shadow-width 0 0 0 $shadow-color;



:host {
  display: block;

  background-color: #9161a7;
  border: 1px solid #ed9534;

  .selection-wrapper {
    padding: 15px;
  }

  &.selected > .selection-wrapper:first-child {
    box-shadow: $highlight-top, $highlight-right, $highlight-bottom, $highlight-left;
  }

  &.hover > .selection-wrapper:first-child {
    box-shadow: $highlight-top, $highlight-right, $highlight-bottom, $highlight-left;
  }

  .add-item {
    display: none;
  }

  &.hover-add-item-enabled, &.selected {
    > .selection-wrapper > .add-item {
      display: block;
      position: absolute;
      margin-bottom: -40px;
    }
  }
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  font-size: 8px;
  width: 2rem;
  height: 2rem;
}

