:host {
  background-color: #eeeeee;
  padding: 30px;
  overflow: clip;
  display: flex;
  flex-grow: 1;
  position: relative;

  &.pan-mode-active {
    cursor: grab;

    &.is-panning {
      cursor: grabbing;
    }
  }

  .pan-zoom-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
  }

  > app-frame {
    background: #eeeeee;
  }
}

/* selection overlay */
.selection-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .selection-overly-inner {
    position: absolute;
  }
}

/* Drag & Drop */
/* do not show the source dragged item */
.cdk-drag-placeholder {
  opacity: 0;
}

/* Item being dragged */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

