<div #wrapper
     class="pan-zoom-wrapper"
     [id]="CANVAS_WRAPPER_ID"
     cdkDropList
     cdkDropListSortingDisabled="false"
     (cdkDropListDropped)="onDrop($event)">
  @for (frame of frames; track frame.key) {
    <app-frame [item]="frame"
               [id]="frame.key!"
               [selectedFrameKey]="selectedFrameKey"
               (clicked)="onFrameClicked($event)"
               (childTextContentChanged)="onChildTextContentChanged($event)"
               cdkDrag
               cdkDropList
               [cdkDragBoundary]="'#' + CANVAS_WRAPPER_ID"
               [cdkDropListData]="frame?.key"
               [cdkDragDisabled]="isGrabMode"
               [cdkDropListOrientation]="frame?.css?.flex?.flexDirection === 'row' ? 'horizontal' : 'vertical'"
               (cdkDropListDropped)="onDrop($event)"></app-frame>
  }

  <div class="selection-overlay">
    <div class="selection-overly-inner">
      <ng-template #selectionOverlay></ng-template>
    </div>
  </div>
</div>
