<div #wrapper
     class="pan-zoom-wrapper"
      dragula="canvas"
     [id]="CANVAS_WRAPPER_ID">
  @for (frame of frames; track frame.key) {
    <app-container [item]="frame"
                   [id]="frame.key!"
                   [selectedFrameKey]="selectedFrameKey"
                   (clicked)="onFrameClicked($event)"
                   (mouseOver)="onMouseOver($event)"
                   (mouseOut)="onMouseOut($event)"
                   (contextMenu)="onContextMenu($event)"
                   (copyItem)="onCopy($event)"
                   (pasteItem)="onPaste($event)"
                   (childTextContentChanged)="onChildTextContentChanged($event)"></app-container>
  }

  <div class="selection-overlay">
    <div class="selection-overly-inner">
      <ng-template #selectionOverlay></ng-template>
    </div>
  </div>
</div>

<app-canvas-toolbar></app-canvas-toolbar>
