<!--  dark mode-->
<section class="property">
  <span class="property-name">Dark Mode</span>
  <p-toggleSwitch [ngModel]="darkMode" (onChange)="onDarkModeChange($event)"></p-toggleSwitch>
</section>

<!--  ripple effect-->
<section class="property">
  <span class="property-name">Ripple Effect</span>
  <p-toggleSwitch [ngModel]="ripple" (onChange)="onRippleChange($event)"></p-toggleSwitch>
</section>

<!--  theme-->
<section class="property">
  <span class="property-name">Theme</span>
  <p-listbox [options]="themes" [ngModel]="selectedTheme" optionLabel="name"
             (onChange)="onSelectedThemeChange($event)"></p-listbox>
</section>

