$shadow-color: #0099ff;

$highlight-shadow-width: 3px;
$highlight-shadow-width-negative: -3px;
$highlight-top: inset 0 $highlight-shadow-width 0 0 $shadow-color;
$highlight-right: inset $highlight-shadow-width-negative 0 0 0 $shadow-color;
$highlight-bottom: inset 0 $highlight-shadow-width-negative 0 0 $shadow-color;
$highlight-left: inset $highlight-shadow-width 0 0 0 $shadow-color;


:host {
  display: block;
  box-shadow: $highlight-top, $highlight-right, $highlight-bottom, $highlight-left;
  position: absolute;

  .add-item {
    display: inline-block;
    pointer-events: auto;
    position: absolute;
    bottom: -28px;
    left: 4px;
    z-index: 2;
  }
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  font-size: 8px;
  width: 2rem;
  height: 2rem;
}

.insert-position {
  padding: 8px;
  margin-bottom: 6px;
}
