@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';
@import "prismjs/plugins/toolbar/prism-toolbar.css";

html,body {
  height:100vh;
  margin:0px;
}

.frame {
  background-color: #9161a7;
}

.editable-content {
  background-color: #ed9534;
}

.primary-color {
  color: var(--primary-color);
}

/* drag and drop */
.drag-background-lvl-1 {
  background-color: var(--blue-100) !important;
}

.drag-background-lvl-2 {
  background-color: var(--green-100) !important;
}

