@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

html,body {
  height:100vh;
  margin:0px;
}

.frame {
  background-color: #9161a7;
}

.editable-content {
  background-color: #ed9534;
}

.primary-color {
  color: var(--primary-color);
}
