@import "primeicons/primeicons.css";
//@import 'primeflex/primeflex.scss';
@import "prismjs/plugins/toolbar/prism-toolbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
}

html,body {
  height:100vh;
  margin:0;
}

:root {
  --bg-primary: var(--p-surface-50);
  --bg-secondary: var(--p-surface-0);
  --bg-tertiary: var(--p-surface-100);

  --border-primary: var(--p-surface-400);
  --text-primary: var(--p-surface-700)

}

:root[class="p-dark"] {
  --bg-primary: var(--p-surface-900);
  --bg-secondary: var(--p-surface-800);
  --bg-tertiary: var(--p-surface-700);
  --bg-quaternary: var(--p-surface-400);

  --border-primary: var(--p-surface-400);

  --text-primary: var(--p-surface-0)
}

/* drag and drop */
.drag-background-lvl-1 {
  background-color: var(--p-surface-400) !important;
  padding: 40px;
}

.drag-background-lvl-2 {
  background-color: var(--p-surface-400) !important;
  padding: 40px;
}
