@switch (frame?.frameType) {
  @case (FrameType.FLEX) {
      {{ frame?.name }}

    <div app-flex
         [settings]="frame?.flexLayoutSettings">
      @for (childFrame of frame?.children; track childFrame) {
        @switch (childFrame.frameType) {
          @case (FrameType.FLEX) {
            <app-frame [frame]="childFrame"
                       (clicked)="onChildClicked($event)"
                       [selectedFrameKey]="selectedFrameKey"
                       (frameContentChanged)="onChildFrameContentChanged($event)"></app-frame>
          }
          @case (FrameType.TEXT) {
            <app-text app-editable-content>{{childFrame.name}}</app-text>
          }
        }

      }
    </div>
  }
  @case (FrameType.TEXT) {
    <app-text></app-text>
  }
}
