@reference "tailwindcss";
@reference "tailwindcss-primeui";

.inspector-grid {
  @apply h-full grid grid-cols-2 grid-rows-3 gap-px bg-surface-200;
  grid-template-areas:
    "css json"
    "tailwind json"
    "html html";
}

.grid-area-css {
  grid-area: css;
}

.grid-area-json {
  grid-area: json;
}

.grid-area-tailwind {
  grid-area: tailwind;
}

.grid-area-html {
  grid-area: html;
}

// Deep styles for code highlighting in viewers
::ng-deep {
  shared-css-viewer,
  shared-json-viewer,
  shared-tailwind-viewer,
  shared-html-viewer {
    pre {
      @apply m-0 h-full overflow-auto;
    }

    code {
      @apply block min-w-fit;
    }
  }
}
