<div class="flex flex-1 overflow-hidden gap-px bg-surface-200">
  <div class="inspector-column">
    <div class="flex flex-col">
      <div>
        <h4 class="title">CSS</h4>
        <shared-css-viewer class="prism"
                           [serializerType]="'CSS-style'"
                           [canvasItems]="canvasItem()"></shared-css-viewer>
      </div>

      <div>
        <div class="inspector-column">
          <h4 class="title">Tailwind</h4>
          <shared-css-viewer class="prism"
                             [serializerType]="'Tailwind'"
                             [canvasItems]="canvasItem()"></shared-css-viewer>
        </div>
      </div>

    </div>
  </div>

  <div class="inspector-column">
    <h4 class="title">JSON</h4>
    <shared-json-viewer class="prism" [canvasItems]="canvasItem()"></shared-json-viewer>
  </div>
</div>
