@reference "tailwindcss";
@reference "tailwindcss-primeui";

.title {
  @apply m-0 px-4 py-3 text-sm font-semibold bg-surface-50 border-b border-surface-200;
}

.prism {
  @apply overflow-auto text-sm;

  ::ng-deep pre {
    @apply m-0 h-full overflow-auto;
  }

  ::ng-deep code {
    @apply block min-w-fit;
  }
}
