<app-skeleton>
  <!-- center content -->
  <ng-container center-content>
    @switch (selectedSideBarPrimary) {
      @case ('browser') {
        <div class="iframe-container">
          <div class="resize-handle left" appResizable>
            <i class="pi pi-ellipsis-v"></i>
          </div>

          <iframe [srcdoc]="code | unsafeHtml"
                  [ngStyle]="{ 'width': width}"></iframe>

          <div class="resize-handle right" appResizable></div>
        </div>
      }
      @case ('code') {
        @switch (selectedSidebarSecondary) {
          @case ('HTML') {
            <app-html-prism></app-html-prism>
          }
          @case ('CSS') {
            <app-css-prism [canvasItems]="canvasService.items"></app-css-prism>
          }
          @case ('JSON') {
            <app-json-prism></app-json-prism>
          }
        }
      }
    }
  </ng-container>

  <!-- Left content -->
  <ng-container left-content>
    <app-side-bar [tabs]="tabs"
                  (selectedItemChange)="onSideBarPrimaryChange($event)">
      <ng-container secondary-content *ngIf="selectedSideBarPrimary === 'code'">
        @switch (selectedSideBarPrimary) {

          @case (SideBarPrimary.CODE) {
            @for (tab of codeTabs; track tab) {
              <p-button [label]="tab.title"
                        [pTooltip]="tab.title"
                        size="large"
                        [fluid]="true"
                        [variant]="'outlined'"
                        [text]="tab.tab !== selectedSidebarSecondary ? 'secondary' : undefined"
                        (onClick)="selectedSidebarSecondary = tab.tab" size="small"></p-button>
            }
          }
        }

      </ng-container>
    </app-side-bar>
  </ng-container>
</app-skeleton>
