.rename-button-container {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-top: 10px;
  justify-content: end;
}

/*reduce padding on tree nodes*/
:host ::ng-deep {
  .p-tree {
    font-size: 10px;
    border: none;
    padding: 0px;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 2px;
  }
}
